.modal-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    transition-property: opacity;
    transition-timing-function: ease;
    transition-duration: inherit;
    will-change: opacity;
    opacity: 0;
    z-index: 10000;
    &.draggable {
        border-radius: 4px;
        display: block;
        top: 20vh;
        left: 50%;
        right: initial;
        bottom: initial;
        margin: 0 auto;
        will-change: transform;
        transform: translate(-50% , 0);
        width: 100%;
        max-width: 600px;
        background: transparent;
        .modal-interface__header {
            cursor: grab;
        }
    }
    &.dragging {
        .modal-interface__header {
            cursor: grabbing;
        }
    }
    .modal-interface {
        box-sizing: borde-box;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
        width: 100%;
        max-width: 600px;
        margin-top: 12vh;
        text-align: left;
        overflow: hidden;
        transform: translateY(50px);
        will-change: transform;
        transition-property: transform;
        transition-timing-function: ease;
        transition-duration: inherit;
        &__header {
            box-sizing: borde-box;
            padding: 15px 30px 15px 15px;
            border-bottom: 1px solid #ddd;
            h4 {
                margin: 0;
            }
            .close-modal-button {
                box-sizing: border-box;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        &__body {
            box-sizing: border-box;
            padding: 15px;
            border-bottom: 1px solid #ddd;
        }
        &__footer {
            box-sizing: border-box;
            padding: 15px;
            text-align: right;
        }
        
    }
}

.modal-container {
    &.active {
        opacity: 1;
        .modal-interface {
            transform: translateY(0px);
        }
    }
}

button, a {
    &:focus {
        box-shadow: 0 0 4px 0 blue;
    }
}